parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property strangetest\\\\_Array\\|strangetest\\\\_Object\\|strangetest\\\\_String\\:\\:\\$is_list\\.$#"
			count: 1
			path: src/diff.php

		-
			message: "#^Access to an undefined property strangetest\\\\_Value\\:\\:\\$is_list\\.$#"
			count: 1
			path: src/diff.php
